<div class="content">
<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="imgs/menu/pepperoni-pizza.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Pepperoni Pizza</h5>
    <p class="card-text">
      Thin crust pizza, topped off with two types of cheese, onions, tomatoes
      and pepperoni!
    </p>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="imgs/menu/spaghetti.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Spaghetti</h5>
    <p class="card-text">Spaghetti pasta with tomato based red sauce</p>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="imgs/menu/french-fries.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">French Fries</h5>
    <p class="card-text">Deep fried potatoes with salt and cheese dip</p>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="imgs/menu/pancake.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Pancake</h5>
    <p class="card-text">Fluffy wheat based pancake with honey</p>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="imgs/menu/sashimi.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Sashimi</h5>
    <p class="card-text">
      Fresh raw fish sliced into thin pieces with soy sauce
    </p>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="imgs/menu/barbeque-chicken.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Barbeque Chicken</h5>
    <p class="card-text">
      Grilled Barbeque Chicken with Barbeque Sauce
    </p>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="imgs/menu/salmon.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Salmon</h5>
    <p class="card-text">
      Salmon fish with asparagus and crispy potatoes
    </p>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="imgs/menu/pancake.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">Cheese Cake</h5>
    <p class="card-text">
        Sweet dessert made of fresh cheese topped with fun toppings
    </p>
  </div>
</div>
</div>